numpy==1.12.1
numpydoc==0.6.0
Flask==0.12.2
Flask-Cors==3.0.2
Pillow==4.0.0
Werkzeug==0.12.2
Jinja2==2.9.6
itsdangerous==0.24
MarkupSafe==1.0
gunicorn==19.7.1
appdirs==1.4.1
click==6.7
tensorflow==2.6.4
Keras==2.0.4
opencv-python==3.2.0.7
